@use "../../../shared/style/colors" as c;

.Card {
  padding: 75px 50px;
  background: c.$white;
  border: 5px solid c.$blue-dark;
  border-radius: 25px;
  cursor: grab;

  &.Dragging {
    background: c.$blue;
    opacity: 0;
  }
}

.Title {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  color: c.$blue-dark;

  &.Dragging {
    color: c.$white;
  }
}
